html {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.page-wrapper {
    margin: 0 auto;
    width: 90%;
}

.main-content {
    float: left;
    width: 65%;
    margin-right: 5%;
}

.side-bar {
    float: left;
    width: 30%;
}

.page-footer {
    clear: both;
}